#what .items{
    flex-direction: column;
}
@media (max-width: 500px) {
    #navbar{
        flex-direction: column;
        align-items: center;
    }
    #navbar .logo{
        margin-bottom: 0.5em;
        text-align: center;
    }
    #who{
        flex: none;
        flex-direction: column;
    }
    #who .who-img{
        width: 100%;
        height: 100px;
    }
    #contact{
        flex-direction: column;
    }
    .map{
        width: 100%;
    }
}